# Analysis of Shooting Data

In [4]:
import pandas
import numpy as N
import tqdm
import matplotlib.pyplot as pyplot
import seaborn
from pathlib import Path
import geopy

seaborn.set_style('whitegrid')

In [2]:
dfShooting = pandas.read_csv('data/NYPD_Shooting_Incident_Data__Historic_.csv')
dfShooting

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,24050482,08/27/2006,05:35:00,BRONX,52,0.0,NaN,True,NaN,NaN,NaN,25-44,F,BLACK HISPANIC,1.017542e+06,255918.875000,40.869058,-73.879632,POINT (-73.87963173099996 40.86905819000003)
1,77673979,03/11/2011,12:03:00,QUEENS,106,0.0,NaN,False,NaN,NaN,NaN,65+,M,WHITE,1.027543e+06,186095.000000,40.677367,-73.843920,POINT (-73.84392019199998 40.677366895000034)
2,203350417,10/06/2019,01:09:00,BROOKLYN,77,0.0,NaN,False,NaN,NaN,NaN,18-24,F,BLACK,9.953250e+05,185155.000000,40.674886,-73.960075,POINT (-73.96007501899999 40.674885741000026)
3,80584527,09/04/2011,03:35:00,BRONX,40,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1.007453e+06,233952.000000,40.808798,-73.916184,POINT (-73.91618413199996 40.80879780500004)
4,90843766,05/27/2013,21:16:00,QUEENS,100,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1.041267e+06,157133.515625,40.597796,-73.794686,POINT (-73.79468553799995 40.597796249000055)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23580,186329304,08/12/2018,19:50:00,BROOKLYN,84,0.0,NaN,False,25-44,M,BLACK,65+,M,BLACK,9.891547e+05,193164.265625,40.696875,-73.982314,POINT (-73.98231375199998 40.69687491500008)
23581,29277330,05/26/2007,04:57:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1.005218e+06,190528.000000,40.689615,-73.924393,POINT (-73.92439311199996 40.689615497000034)
23582,77443443,02/25/2011,01:12:00,BROOKLYN,81,0.0,MULTI DWELL - APT BUILD,False,18-24,M,BLACK,<18,M,BLACK,1.003999e+06,187611.031250,40.681612,-73.928798,POINT (-73.92879814299994 40.681611891000045)
23583,176027888,03/17/2018,00:46:00,BRONX,43,0.0,NaN,False,25-44,M,UNKNOWN,25-44,M,WHITE HISPANIC,1.018728e+06,242744.234375,40.832893,-73.875408,POINT (-73.87540796899998 40.83289318000004)
23584,218777493,10/05/2020,12:00:00,QUEENS,113,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1.049416e+06,183677.000000,40.670596,-73.765087,POINT (-73.76508667399997 40.67059605900005)

In [7]:

geolocator = geopy.Nominatim(user_agent='stat')
def get_zipcode(lat, long):
    location = geolocator.reverse((lat, long))
    return location.raw['address']['postcode']
zipcodes = [get_zipcode(lat, long) for lat, long in tqdm.tqdm(list(zip(dfShooting['Latitude'], dfShooting['Longitude'])))]
dfShooting['zip code'] = zipcodes

100%|██████████| 23585/23585 [3:16:38<00:00,  2.00it/s]

In [8]:
dfShooting['year'] = dfShooting['OCCUR_DATE'].apply(lambda x:x[-4:])

In [9]:
dfShooting.to_csv('processed/shooting.csv', index=False)

In [10]:
dfShooting

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,...,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,zip code,year
0,24050482,08/27/2006,05:35:00,BRONX,52,0.0,NaN,True,NaN,NaN,...,25-44,F,BLACK HISPANIC,1.017542e+06,255918.875000,40.869058,-73.879632,POINT (-73.87963173099996 40.86905819000003),10467,2006
1,77673979,03/11/2011,12:03:00,QUEENS,106,0.0,NaN,False,NaN,NaN,...,65+,M,WHITE,1.027543e+06,186095.000000,40.677367,-73.843920,POINT (-73.84392019199998 40.677366895000034),11417,2011
2,203350417,10/06/2019,01:09:00,BROOKLYN,77,0.0,NaN,False,NaN,NaN,...,18-24,F,BLACK,9.953250e+05,185155.000000,40.674886,-73.960075,POINT (-73.96007501899999 40.674885741000026),11238,2019
3,80584527,09/04/2011,03:35:00,BRONX,40,0.0,NaN,False,NaN,NaN,...,<18,M,BLACK,1.007453e+06,233952.000000,40.808798,-73.916184,POINT (-73.91618413199996 40.80879780500004),10454,2011
4,90843766,05/27/2013,21:16:00,QUEENS,100,0.0,NaN,False,NaN,NaN,...,18-24,M,BLACK,1.041267e+06,157133.515625,40.597796,-73.794686,POINT (-73.79468553799995 40.597796249000055),11692,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23580,186329304,08/12/2018,19:50:00,BROOKLYN,84,0.0,NaN,False,25-44,M,...,65+,M,BLACK,9.891547e+05,193164.265625,40.696875,-73.982314,POINT (-73.98231375199998 40.69687491500008),11201,2018
23581,29277330,05/26/2007,04:57:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,...,25-44,M,BLACK,1.005218e+06,190528.000000,40.689615,-73.924393,POINT (-73.92439311199996 40.689615497000034),11221,2007
23582,77443443,02/25/2011,01:12:00,BROOKLYN,81,0.0,MULTI DWELL - APT BUILD,False,18-24,M,...,<18,M,BLACK,1.003999e+06,187611.031250,40.681612,-73.928798,POINT (-73.92879814299994 40.681611891000045),11233,2011
23583,176027888,03/17/2018,00:46:00,BRONX,43,0.0,NaN,False,25-44,M,...,25-44,M,WHITE HISPANIC,1.018728e+06,242744.234375,40.832893,-73.875408,POINT (-73.87540796899998 40.83289318000004),10472,2018
23584,218777493,10/05/2020,12:00:00,QUEENS,113,0.0,NaN,False,25-44,M,...,25-44,M,BLACK,1.049416e+06,183677.000000,40.670596,-73.765087,POINT (-73.76508667399997 40.67059605900005),11434,2020